<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>重設密碼 - SteveYi Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
    <link rel="icon" href="https://static.yiy.tw/static/img/apple-touch-icon-114x114.png">
    <script src='https://www.recaptcha.net/recaptcha/api.js' async defer></script>
</head>

<body>
    <div class="ts padded horizontally fitted fluid slate">
        <div class="ts very narrow container">
            <h1>重設密碼</h1>
            <p>重設一個新密碼吧！</p>
        </div>
    </div>
    <br>
    <div class="ts very narrow container">
        <div class="ts clearing segment">
            <form class="ts form" action="/v1/api/reset-password" method="POST">
                <div class="field">
                    <label>舊密碼</label>
                    <input placeholder="請輸入舊密碼" type="password" name='oldPassword'>
                </div>
                <div class="field">
                    <label>新密碼</label>
                    <input placeholder="請輸入新密碼" type="password" name='newPassword'>
                </div>
                <input type="hidden" name="token" value="{{.Token}}">
                <input type="hidden" name="email" value="{{.Email}}">
                <p>系統會自動記錄您目前的 IP 位置：{{.IPAddress}} </p>
                <button class="ts right floated button">重設</button>
            </form>
        </div>
        Copyright © 2019 -
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script>
        <a href="https://network.steveyi.net/">SteveYi</a> All rights reserved.
        <br />
    </div>
</body>

</html>